.env
.env.*
!.env.example
.git
.github
.devcontainer
.vscode
.idea
.venv
venv
.pytest_cache
**/__pycache__
**/*.py[cod]
*.egg-info
*.log
logs/**/*.log
docs
backups
Dockerfile
docker-compose.yml
*.tmp
~$*
